# Application Environment
NODE_ENV=
LOG_LEVEL=

# Storage Paths
BACKUP_PATH=
TEMP_PATH=

# Logging Configuration
LOG_PATH=./logs
LOG_MAX_FILES=
LOG_MAX_SIZE=

# db connection configuration
DATABASE_URL="file:./backup-meta.db"